---
import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/supabase";
const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/signin");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/signin");
}

const email = data?.user?.email;
const username = data?.user?.user_metadata.name;
---

<Layout title="Dashboard" description="this is the dashboard!">
  <div class="flex items-center justify-center flex-col p-20">
    <div class="">
      <h1 class="text-6xl font-semibold">Welcome,</h1><h1
        class="text-4xl font-semibold text-accent"
      >
        {username}
      </h1>
    </div>
    <div class="max-w-3xl my-3">
      
    </div>
    <button
      class="btn btn-accent btn-outline w-60 mb-2"
      onclick="changeName.showModal()">Change username</button
    >
    <dialog id="changeName" class="modal">
      <div class="modal-box">
        <h3 class="font-bold text-lg">Change username</h3>
        <div class="flex items-center justify-center flex-col mt-5 mb-2">
          <form
            action="/api/auth/updateUser"
            method="POST"
            class="form-control max-w-sm"
          >
            <input
              type="text"
              name="username"
              id="username"
              placeholder="Username"
              class="input input-bordered input-secondary mb-3"
            />
            <button type="submit" class="btn btn-outline btn-accent mb-3"
              >Update username</button
            >
          </form>
        </div>
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
    <button
      class="btn btn-accent btn-outline w-60 mb-2"
      onclick="updatePass.showModal()">Update password</button
    >
    <dialog id="updatePass" class="modal">
      <div class="modal-box">
        <h3 class="font-bold text-lg">Update password</h3>
        <div class="flex items-center justify-center flex-col mt-5 mb-2">
          <form
            action="/api/auth/updatePass"
            method="POST"
            class="form-control max-w-sm"
          >
            <input
              type="password"
              name="password"
              id="password"
              minlength="6"
              maxlength="72"
              placeholder="Password"
              class="input input-bordered input-secondary mb-3"
            />
            <button type="submit" class="btn btn-outline btn-accent mb-3"
              >Update password</button
            >
          </form>
        </div>
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
    <button
      class="btn btn-accent btn-outline w-60 mb-2"
      onclick="updateEmail.showModal()">Update email</button
    >
    <dialog id="updateEmail" class="modal">
      <div class="modal-box">
        <h3 class="font-bold text-lg">Update email</h3>
        <div class="flex items-center justify-center flex-col mt-5 mb-2">
          <form
            action="/api/auth/updateEmail"
            method="POST"
            class="form-control max-w-sm"
          >
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Email"
              class="input input-bordered input-secondary mb-3"
            />
            <button type="submit" class="btn btn-outline btn-accent mb-3"
              >Update email</button
            >
          </form>
        </div>
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
    <form action="/api/auth/signout" class="form-control">
      <button class="btn btn-accent btn-outline w-60" type="submit"
        >Sign out</button
      >
    </form>
  </div>
</Layout>
