---
import Layout from '../layouts/Layout.astro';
import { Button } from "@/components/ui/button";
import { Image } from "astro:assets";
import { ModeToggle } from "@/components/mode-toggle"
import cupcakke from "../cupcakke.jpg"
import '@/styles/animate.min.css'
---

<Layout title="hi~">
	<main class="animate__animated animate__fadeIn animate__fast flex min-h-screen flex-col items-center justify-between p-24">
		<h1 class="text-6xl font-thin font-white">hi~</h1>
		  <Button className='b' id="b" variant={"secondary"}>
			poosh 4 fun
		  </Button>
		  <div id="s" style={{ display: 'none', justifyContent: 'center', alignItems: 'center', height: '100vh' }}>
			<Image class="animate__animated animate__fadeIn animate__fast rounded-xl" src={cupcakke} alt="Shibe" width={600} height={600} />
		  </div>
		<ModeToggle client:load />
	  </main>
	
</Layout>

<script is:inline>
let isHidden = true; // Initial state: element to hide is hidden

  // Find all buttons with the `alert` class on the page.
  const buttons = document.querySelectorAll('#b');

  // Handle clicks on each button.
  buttons.forEach((button) => {
    button.addEventListener('click', () => {
toggleElements();
	});
  });

function toggleElements() {
  isHidden = !isHidden; // Toggle state

  document.getElementById("s").style.display = "flex";
  document.getElementById("b").style.display = "none";
}
</script>