---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Register" description="Register for ...... smth!">
  <div class="flex items-center justify-center flex-col p-20">
  <h1 class="text-6xl font-semibold mb-4">Register</h1>
  <p class="text-lg font-normal mb-5"> Already have an account? <a href="/signin" class="link link-accent">Sign in</a></p>
  <form action="/api/auth/register" method="POST" class="form-control">
    <input type="text" name="username" id="username" placeholder="Username" class="input input-bordered input-secondary mb-3" />
    <input type="email" name="email" id="email" placeholder="Email" class="input input-bordered input-secondary mb-3" />
    <input type="password" name="password" id="password" placeholder="Password" minlength="6" maxlength="72" class="input input-bordered input-secondary mb-3" />
    <div class="cf-turnstile mb-3" data-sitekey="0x4AAAAAAAOCPSrqXWhi9tIK" data-theme="dark"></div>
    <button type="submit" class="btn btn-outline btn-accent">Register</button>
  </form>
  </div>
</Layout>

<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
