---
import Layout from "../layouts/Layout.astro";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
  return redirect("/dashboard");
}
---

<Layout title="Sign in" description="Sign in to .... smth!">
  <div class="flex items-center justify-center flex-col p-20">
    <h1 class="text-6xl font-semibold mb-4">Sign In</h1>
    <p class="text-lg font-normal">New here? <a href="/register" class="link link-accent">Register</a></p>
    <br />
    <form action="/api/auth/signin" method="POST" class="form-control">
      <input type="email" name="email" id="email" placeholder="Email" class="input input-bordered input-secondary mb-3" />
      <input type="password" name="password" id="password" placeholder="Password" class="input input-bordered input-secondary mb-3" />
      <div class="cf-turnstile mb-3" data-sitekey="0x4AAAAAAAOCPSrqXWhi9tIK" data-theme="dark"></div>
      <button type="submit" class="btn btn-outline btn-accent mb-3">Login</button>
      <button value="google" class="btn btn-outline btn-accent mb-3" name="provider" type="submit">Sign in with Google</button>
      <button value="discord" class="btn btn-outline btn-accent" name="provider" type="submit">Sign in with Discord</button>
    </form>
      </div>
</Layout>

<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
