<main
  @fade
  class="flex min-h-screen flex-col items-center justify-between p-24"
>
  <h1>hi</h1>
  <br />
  <button class="b" id="b" mat-flat-button color="accent">poosh 4 fun</button>
  <div
    class="img"
    id="s"
    style="
      display: none;
      justify-content: 'center';
      align-items: 'center';
      height: '100vh';
    "
  >
    <img
      ngSrc="/janet.jpeg"
      disableOptimizedSrcset
      alt="janet"
      width="700"
      height="500"
      class="rounded-xl"
      priority
    />
  </div>
</main>
<router-outlet />
